<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/rustyle.css">
</head>
<body>
  <h1>{{ verb[0] }}の現在活用</h1> {# verb0 #}
  <table class="verbform">
    <col><col><col><col>
    <tr>
      <th>単数人称</th>
      <th>活用</th>
      <th>複数人称</th>
      <th>活用</th>
    </tr>
    <tr>
      <td>я</td>
      <td>{{ verb[1] }}</td> {# verb1 #}
      <td>мы</td>
      <td>{{ verb[4] }}</td>{# verb4 #}
    </tr>
    <tr>
      <td>ты</td>
      <td>{{ verb[2] }}</td>{# verb2 #}
      <td>вы</td>
      <td>{{ verb[5] }}</td>{# verb5 #}
    </tr>
    <tr>
      <td>он/она/оно</td>
      <td>{{ verb[3] }}</td>{# verb3 #}
      <td>они</td>
      <td>{{ verb[6] }}</td>{# verb6 #}
    </tr>
  </table>
  {% block content %}{% endblock %}

</body>
</html>
