<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>делатьの現在活用</h1>
  <table>
    <col><col><col><col>
    <tr>
      <th>単数人称</th>
      <th>活用</th>
      <th>複数人称</th>
      <th>活用</th>
    </tr>
    <tr>
      <td>я</td>
      <td>делаю</td>
      <td>мы</td>
      <td>делаем</td>
    </tr>
    <tr>
      <td>ты</td>
      <td>делаешь</td>
      <td>вы</td>
      <td>делаете</td>
    </tr>
    <tr>
      <td>он/она/оно</td>
      <td>делает</td>
      <td>они</td>
      <td>делают</td>
    </tr>
  </table>
  <form method="post" action="">
      делатьのяの現在活用は？<input name="input" id="input" type="text" size="30" maxlength="30">
      <input name="Button1" type="submit" value="回答する">
  </form>

  <p>
      {{ form_input }}
  </p>
</body>
</html>
