<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/rustyle.css">
  <meta http-equiv="content-type" charset="utf-8">
</head>
<body>
{#
20190908作成開始
Special Thanks: w3 school
Special Thanks: https://ja.bab.la/活用/ロシア語/делать
Special Thanks: https://tech-unlimited.com/exceltable.html (エクセルからhtml表作成)
#}
<h1>ロシア語自学ページへようこそ</h1>

<p>訪問ありがとうございます。</p>

<p>品詞</p>
<button type="button" class="grammardoor" onclick="location.href='verb'">動詞</button>
<button type="button" class="grammardoor" onclick="location.href='verb'">名詞</button> {# hrefはダミーだよ！変えてね #}
<button type="button" class="grammardoor" onclick="location.href='verb'">人称代名詞</button> {# hrefはダミーだよ！変えてね #}
<button type="button" class="grammardoor" onclick="location.href='verb'">形容詞</button> {# hrefはダミーだよ！変えてね #}

<p>暗記</p>
<button type="button" class="grammardoor" onclick="location.href='verb'">単語</button> {# hrefはダミーだよ！変えてね #}
<button type="button" class="grammardoor" onclick="location.href='verb'">例文</button> {# hrefはダミーだよ！変えてね #}

<p>ロシア文学をちょこっと読む</p>
<ul>
  <li><a href="https://ilibrary.ru/text/94/p.1/index.html">Идиот (白痴): Федор Достоевский</a></li>
  <li><a href="http://modernlib.net/books/bulgakov_mihail_afanasevich/master_i_margarita/read">Мастер и Маргарита (巨匠とマルガリータ): Михаил Булгаков</a></li>
</ul>

<a href="http://lib.ru/">ロシア文学を原文で</a><br>

<img src="/static/images/RussiaWinter.jpg" alt="冬のロシア">
<p>Photo by Michael Parulava on Unsplash</p>

</body>
</html>
