<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/rustyle.css">
  <meta http-equiv="content-type" charset="utf-8">
</head>
<body>
<!--
20190908作成開始
Special Thanks: w3 school
Special Thanks: https://ja.bab.la/活用/ロシア語/делать
Special Thanks: https://tech-unlimited.com/exceltable.html (エクセルからhtml表作成)
-->
<h1>ロシア語自学ページへようこそ</h1>

<p>訪問ありがとうございます。</p>

<p>品詞</p>
<ul>
  <li><a href="index">動詞</a></li>
  <li>名詞</li>
  <li>人称代名詞</li>
  <li>形容詞</li>
</ul>
<p>暗記</p>
<ul>
  <li>単語</li>
  <li>例文</li>
</ul>
<button>始める</button><br>
<a href="http://lib.ru/">ロシア文学を原文で</a><br>

<img src="/static/images/RussiaWinter.jpg" alt="冬のロシア">
<p>Photo by Michael Parulava on Unsplash</p>

</body>
</html>
