<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/rustyle.css">
  <meta http-equiv="content-type" charset="utf-8">
  <title>делать</title>
</head>
<body>

  <h1>делатьの現在活用</h1>
  <table>
    <col><col><col><col>
    <tr>
      <th>単数人称</th>
      <th>活用</th>
      <th>複数人称</th>
      <th>活用</th>
    </tr>
    <tr>
      <td>я</td>
      <td>делаю</td>
      <td>мы</td>
      <td>делаем</td>
    </tr>
    <tr>
      <td>ты</td>
      <td>делаешь</td>
      <td>вы</td>
      <td>делаете</td>
    </tr>
    <tr>
      <td>он/она/оно</td>
      <td>делает</td>
      <td>они</td>
      <td>делают</td>
    </tr>
  </table>
  <p>делатьは第一変化動詞です。活用を覚えましょう。</p>
  <a href="verb/do_f">練習する</a>
</body>
</html>
